//- scam-categories__item
mixin scam-categories__item(icon, name, quantity)
    a.scam-categories__item(href="")
        span.scam-categories__item-icon
            svg.scam-categories__item-svg
                use(href="../assets/img/sprite.svg#" + icon)

        span.scam-categories__item-column
            span.scam-categories__item-name= name
            span.scam-categories__item-quantity= quantity

//- report-item-avatar - with dump
mixin report-item(type)
    .report-item
        .report-item__header 
            a.report-item__ava(href="")
                svg.report-item__svg
                    use(href="../assets/img/sprite.svg#user")

            .report-item__column
                .report-item__name 
                    a.report-item__name-link(href="") Alex Max 
                    | reported 
                    a.report-item__name-link(href="") Spotify
        .report-item__content
            .report-item__title 
                a.report-item__title-link(href="") No "ad-free 30 minutes" for watching "short video"

            .report-item__text I was sign up as member and requested for termination. I receive email as confirmation but my account monthly charges continued. Found its from Stockholm. There was a way to contact them. Only way is to kill it by changing my Credit Card, scary!

        .report-item__footer 
            .report-item__badge(class="report-item__badge--" + type)= type

            .report-item__date 22 February 2023

//- report-item latest report
mixin report-item-latest
    .report-item
        .report-item__header 
            a.report-item__ava(href="")
                svg.report-item__svg
                    use(href="../assets/img/sprite.svg#user")

            .report-item__column
                .report-item__name 
                    a.report-item__name-link(href="") Alex Max 
                    | reported 
                    a.report-item__name-link(href="") Spotify
        .report-item__content
            .report-item__title 
                a.report-item__title-link(href="") No "ad-free 30 minutes" for watching "short video"

            .report-item__text I was sign up as member and requested for termination. I receive email as confirmation but my account monthly charges continued. Found its from Stockholm. There was a way to contact them. Only way is to kill it by changing my Credit Card, scary!

        .report-item__footer 
            .report-item__badge.report-item__badge--latest-reposts LATEST REPORTS

            .report-item__date 22 February 2023

//- report-item-avatar - with photo
mixin report-item-avatar(type)
    .report-item
        .report-item__header 
            .report-item__ava 
                img.report-item__photo(alt="" src="../assets/content/avatar.jpg")

            .report-item__column
                .report-item__name 
                    a.report-item__name-link(href="") Alex Max 
                    | reported 
                    a.report-item__name-link(href="") Spotify
        .report-item__content
            .report-item__title 
                a.report-item__title-link(href="") No "ad-free 30 minutes" for watching "short video"

            .report-item__text I was sign up as member and requested for termination. I receive email as confirmation but my account monthly charges continued.

        .report-item__footer 
            .report-item__badge(class="report-item__badge_" + type)= type

            .report-item__date 22 February 2023

//- slider-reports
mixin slider-reports(title, icon, bg)
    .slider-reports(class="" + bg)
        .container 
            .slider-reports__header
                .slider-reports__title
                    svg.slider-reports__title-icon
                        use(href="../assets/img/sprite.svg#" + icon)
                    = title

            .slider-reports__embla.js-slider-reports__embla
                .slider-reports__embla-viewport
                    .slider-reports__embla-container 
                        .slider-reports__embla-slide
                            +report-item("featured")
                        .slider-reports__embla-slide
                            +report-item("featured")
                        .slider-reports__embla-slide
                            +report-item("featured")
                        .slider-reports__embla-slide
                            +report-item("featured")
                        .slider-reports__embla-slide
                            +report-item-avatar("trend")

                button.slider-reports__button.slider-reports__button--prev(type="button") 
                    svg.slider-reports__button-icon
                        use(href="../assets/img/sprite.svg#chevron-down")
                button.slider-reports__button.slider-reports__button--next(type="button") 
                    svg.slider-reports__button-icon
                        use(href="../assets/img/sprite.svg#chevron-down")

//- search for header
mixin search(subclass)
    form.search(class="" + subclass)
        .search__wrapper
            input.search__input(type="text" placeholder="Companies or Categories")

            button.search__cancel(type="cancel")
                svg.search__cancel-icon
                    use(href="../assets/img/sprite.svg#cancel")
            button.search__btn(type="button")
                svg.btn__icon
                    use(href="../assets/img/sprite.svg#loupe")

        .search__dropdown
            .search__section 
                .search__title Popular Businesses

                a.search__item(href="")
                    span.search__item-box 
                        span.search__item-logo 
                            svg.search__item-icon
                                use(href="../assets/img/sprite.svg#briefcase")

                        span.search-row__item-name-strong Spo
                        | tifycodes.co.uk

                    span.search__item-quantity 108 Reviews

                a.search__item(href="")
                    span.search__item-box 
                        span.search__item-logo 
                            img(src="../assets/content/spotify.jpg" alt="" class="search-row__item-img")

                        span.search__item-name-strong Spo
                        | tify

                        svg.search__item-verified
                            use(href="../assets/img/sprite.svg#verified")

                    span.search__item-quantity 108 Reviews

            .search-row__section 
                .search__title Categories

                a.search__item(href="")
                    span.search__item-name 
                        span.search__item-name-strong Spo
                        | rt Goods

                    span.search__item-quantity 8 Reviews

                a.search__item(href="")
                    span.search__item-name 
                        | Medical 
                        span.search__item-name-strong Spo
                        | rts

                    span.search__item-quantity 12 Reviews
            
            .search__buttons 
                button.btn.btn--secondary.search__show-all(type="button")
                    span.btn__label Show All Results
                    svg.btn__icon
                        use(href="../assets/img/sprite.svg#arrow-right")

//- search-row for content
mixin search-row 
    form.search-row
        .search-row__wrapper
            input.search-row__input(type="text")

            button.search-row__cancel(type="cancel")
                svg.search-row__cancel-icon
                    use(href="../assets/img/sprite.svg#cancel")
        button.btn.btn--secondary.btn--hide-label.search-row__btn(type="button")
            svg.btn__icon
                use(href="../assets/img/sprite.svg#loupe")
            span.btn__label Search

        .search-row__dropdown
            .search-row__section 
                .search-row__title Popular Businesses

                a.search-row__item(href="")
                    span.search-row__item-box 
                        span.search-row__item-logo 
                            svg.search-row__item-icon
                                use(href="../assets/img/sprite.svg#briefcase")

                        span.search-row__item-name-strong Spo
                        | tifycodes.co.uk

                    span.search-row__item-quantity 108 Reviews

                a.search-row__item(href="")
                    span.search-row__item-box 
                        span.search-row__item-logo 
                            img(src="../assets/content/spotify.jpg" alt="" class="search-row__item-img")

                        span.search-row__item-name-strong Spo
                        | tify

                        svg.search-row__item-verified
                            use(href="../assets/img/sprite.svg#verified")

                    span.search-row__item-quantity 108 Reviews

            .search-row__section 
                .search-row__title Categories

                a.search-row__item(href="")
                    span.search-row__item-name 
                        span.search-row__item-name-strong Spo
                        | rt Goods

                    span.search-row__item-quantity 8 Reviews

                a.search-row__item(href="")
                    span.search-row__item-name 
                        | Medical 
                        span.search-row__item-name-strong Spo
                        | rts

                    span.search-row__item-quantity 12 Reviews
            
            .search-row__buttons 
                button.btn.btn--secondary.search-row__show-all(type="button")
                    span.btn__label Show All Results
                    svg.btn__icon
                        use(href="../assets/img/sprite.svg#arrow-right")

//- categories__item for FAQ
mixin categories__item
    .categories__item
        .categories__item-header 
            .categories__item-title Who is the founders of Spotify?
            svg.categories__item-arrow
                use(href="../assets/img/sprite.svg#chevron-down")
        .categories__item-content
            p Spotify is a digital music, podcast, and video service that gives you access to millions of songs and other content from creators all over the world.

//- form-block - input
mixin form-block-item(label, id, inputType) 
    .form-block__item 
        label.form-block__label(for= id)= label

        input.form-block__input(type= inputType id= id)

//- form-block select
mixin form-block-select(label, id) 
    .form-block__item 
        label.form-block__label(for= id)= label

        select.form-block__select(id= id)
            option(value="1") option 1
            option(value="2") option 2
            option(value="3") option 3
            option(value="4") option 4

//- modal-message
mixin modal-message(icon, text)
    .modal-message
        svg.modal-message__icon
            use(href="../assets/img/sprite.svg#" + icon)
        .modal-message__text= text

        button.modal-message__btn(type="button" aria-label="Close")
            svg.modal-message__btn-icon
                use(href="../assets/img/sprite.svg#cancel") 

//- preview-company
mixin preview-company
    a.preview-company(href="")
        span.preview-company__logo
            img(src="../assets/content/spotify.jpg" alt="" class="preview-company__img")

        span.preview-company__column 
            span.preview-company__row
                span.preview-company__title Spotify

                svg.preview-company__verified
                    use(href="../assets/img/sprite.svg#verified")

//- preview-company-for-card
mixin preview-company-for-card
    a.preview-company.preview-company--for-card(href="")
        span.preview-company__logo
            img(src="../assets/content/spotify.jpg" alt="" class="preview-company__img")

        span.preview-company__column 
            span.preview-company__row
                span.preview-company__title Spotify

                svg.preview-company__verified
                    use(href="../assets/img/sprite.svg#verified")

            span.preview-company__reports 982 Reports

//- preview-company-for-card-sign
mixin preview-company-for-card-sign
    a.preview-company.preview-company--for-card(href="")
        span.preview-company__logo S

        span.preview-company__column 
            span.preview-company__row
                span.preview-company__title Spotify

                svg.preview-company__verified
                    use(href="../assets/img/sprite.svg#verified")

            span.preview-company__reports 982 Reports

//- sorter
mixin sorter 
    .sorter 
        button.sorter__btn(type="button")
            span.sorter__btn-label Most Reports

            svg.sorter__btn-icon
                use(href="../assets/img/sprite.svg#sorter")

//- aside-box -->

//- related-categories 
mixin related-categories 
    .aside-box
        .aside-box__title Related Categories
 
        ul.related-categories
            each val in ["Counterfeit Product", "Government Grant", "Advance Fee Loan", "Investment", "Tax Collection", "Tech Support", "Romance"]
                li.related-categories__item 
                    a.related-categories__link(href="")= val

//- contacts
mixin contacts 
    .aside-box
        .aside-box__title Contacts

        .contacts-block
            .contacts-block__item 
                svg.contacts-block__icon
                    use(href="../assets/img/sprite.svg#location")
                .contacts-block__column 
                    a.contacts-block__link(href="") 150 Greenwich St Fl 62 New York, <br /> NY 10007-2474

            .contacts-block__item 
                svg.contacts-block__icon
                    use(href="../assets/img/sprite.svg#phone")
                .contacts-block__column 
                    a.contacts-block__link(href="") +1 (509)-878-3069

            .contacts-block__item 
                svg.contacts-block__icon
                    use(href="../assets/img/sprite.svg#mail")
                .contacts-block__column 
                    a.contacts-block__link(href="") hello@spotifycodes.co.uk

            .contacts-block__item 
                svg.contacts-block__icon
                    use(href="../assets/img/sprite.svg#site")
                .contacts-block__column 
                    a.contacts-block__link(href="") spotifycodes.co.uk

//- related-businesses 
mixin related-businesses 
    .aside-box
        .aside-box__title Related Businesses

        .related-businesses
            a.related-businesses__item(href="")
                span.related-businesses__logo
                    svg.related-businesses__icon
                        use(href="../assets/img/sprite.svg#briefcase")
                span.related-businesses__name Spotify-strangerthings.comSpotify-strangerthings.com

            a.related-businesses__item(href="")
                span.related-businesses__logo
                    img(src="../assets/content/spotify.jpg" alt="" class="related-businesses__img")
                span.related-businesses__name Spotify-strangerthings.com

            a.related-businesses__item(href="")
                span.related-businesses__logo
                    svg.related-businesses__icon
                        use(href="../assets/img/sprite.svg#briefcase")
                span.related-businesses__name Spotify-strangerthings.comSpotify-strangerthings.com

            a.related-businesses__item(href="")
                span.related-businesses__logo
                    img(src="../assets/content/spotify.jpg" alt="" class="related-businesses__img")
                span.related-businesses__name Spotify-strangerthings.com

//- business-details
mixin business-details
    .aside-box
        .aside-box__title Business Details
        .business-details
            .business-details__item 
                .business-details__item-title Location of Business

                .business-details__item-content 150 Greenwich St Fl 62 <br />New York, NY 10007-2474

            .business-details__item 
                .business-details__item-title File Opened

                .business-details__item-content 14 July, 2011

            .business-details__item 
                .business-details__item-title Years in Business

                .business-details__item-content 16 Years

            .business-details__item 
                .business-details__item-title Business Started

                .business-details__item-content 31 March, 2006

            .business-details__item 
                .business-details__item-title Business Incorporated

                .business-details__item-content 16 May, 2010

            .business-details__item 
                .business-details__item-title Type of Entity

                .business-details__item-content Corporation

            .business-details__item 
                .business-details__item-title Business Management

                .business-details__item-content Mr. Daniel Ek, CEO and Founder

            .business-details__item 
                .business-details__item-title Serving Area

                .business-details__item-content We service the following area(s):<br />New York

//- social-media
mixin social-media 
    .aside-box
        .aside-box__title What are the social media accounts of Spotify?
        .social-media
            a.social-media__item(href="")
                svg.social-media__item-icon
                    use(href="../assets/img/sprite.svg#icon-facebook")
                span.social-media__item-label Facebook

            a.social-media__item(href="")
                svg.social-media__item-icon
                    use(href="../assets/img/sprite.svg#icon-twitter")
                span.social-media__item-label Twitter

            a.social-media__item(href="")
                svg.social-media__item-icon
                    use(href="../assets/img/sprite.svg#icon-youtube")
                span.social-media__item-label YouTube

            a.social-media__item(href="")
                svg.social-media__item-icon
                    use(href="../assets/img/sprite.svg#icon-linkedin")
                span.social-media__item-label LinkedIn

//- social-media
mixin about-user 
    .aside-box
        .aside-box__title About

        .business-details
            .business-details__item 
                .business-details__item-title Phone

                .business-details__item-content +1 (323)-461-0100

            .business-details__item 
                .business-details__item-title Email

                .business-details__item-content johnydepp@gmail.com

            .business-details__item 
                .business-details__item-title Country

                .business-details__item-content United States

            .business-details__item 
                .business-details__item-title City

                .business-details__item-content New York

            .business-details__item 
                .business-details__item-title About

                .business-details__item-content Hello, my little reader! I'm John Christopher Depp II.  Who I'm? American actor, producer, and musician. Also, the recipient of multiple accolades, including a Golden Globe Award and a Screen Actors Guild Award, in addition to nominations for three Academy Awards and two British Academy Film Awards.

//- user-navi
mixin user-navi 
    nav.user-navi
        ul.user-navi__list
            li.user-navi__item 
                a.user-navi__link(href="")
                    span.user-navi__column 
                        svg.user-navi__icon
                            use(href="../assets/img/sprite.svg#edit")
                        span.user-navi__label Reports

                    span.user-navi__quan 4 

            li.user-navi__item 
                a.user-navi__link(href="")
                    span.user-navi__column 
                        svg.user-navi__icon
                            use(href="../assets/img/sprite.svg#share")
                        span.user-navi__label Replies

                    span.user-navi__quan 4 

            li.user-navi__item 
                a.user-navi__link(href="")
                    span.user-navi__column 
                        svg.user-navi__icon
                            use(href="../assets/img/sprite.svg#messages")
                        span.user-navi__label Messages

                    span.user-navi__quan 4 

//- end aside-box <--

//- report -->
mixin report 
    .report 
        .report__content 
            .report__header 
                .report__header-avatar A
                .report__header-column 
                    .report__header-title 
                        a.report__header-name(href="") Aliona Walter

                        svg.report__header-verified
                            use(href="../assets/img/sprite.svg#verified")
                    time.report__header-date 27 April 2022

            .report__table 
                .report__table-row 
                    .report__table-header Scammer’s Phone

                    .report__table-column +1 (509)-878-3069

                .report__table-row 
                    .report__table-header Scammer’s Email

                    .report__table-column mentsunpaidloans@gmail.com

                .report__table-row 
                    .report__table-header Country

                    .report__table-column United States

                .report__table-row 
                    .report__table-header Intial Means of Contact

                    .report__table-column Email

                .report__table-row 
                    .report__table-header Type of Scam

                    .report__table-column
                        .report__table-badge Debt Collections

            .report__title
                a.report__title-link(href="") No "ad-free 30 minutes" for watching "short video"

            .report__text I was sign up as member and requested for termination. I receive email as confirmation but my account monthly charges continued. Found its from Stockholm. There was a way to contact them. Only way is to kill it by changing my Credit Card, scary!

        .report__footer
            button.report__btn.report__btn--useful(type="button")
                svg.report__btn-icon
                    use(href="../assets/img/sprite.svg#useful")
                span.report__btn-label Useful

            button.report__btn.report__btn--reply(type="button")
                svg.report__btn-icon
                    use(href="../assets/img/sprite.svg#reply")
                span.report__btn-label Reply

            button.report__btn.report__btn--share(type="button")
                svg.report__btn-icon
                    use(href="../assets/img/sprite.svg#share")
                span.report__btn-label Share

//- report-with-images
mixin report-with-images
    .report 
        .report__content 
            .report__header 
                .report__header-avatar A
                .report__header-column 
                    .report__header-title 
                        a.report__header-name(href="") Aliona Walter

                        svg.report__header-verified
                            use(href="../assets/img/sprite.svg#verified")
                    time.report__header-date 27 April 2022

            .report__table 
                .report__table-row 
                    .report__table-header Scammer’s Phone

                    .report__table-column +1 (509)-878-3069

                .report__table-row 
                    .report__table-header Scammer’s Email

                    .report__table-column mentsunpaidloans@gmail.com

                .report__table-row 
                    .report__table-header Country

                    .report__table-column United States

                .report__table-row 
                    .report__table-header Intial Means of Contact

                    .report__table-column Email

                .report__table-row 
                    .report__table-header Type of Scam

                    .report__table-column
                        .report__table-badge Debt Collections

            .report__title
                a.report__title-link(href="") No "ad-free 30 minutes" for watching "short video"

            .report__text I was sign up as member and requested for termination. I receive email as confirmation but my account monthly charges continued. Found its from Stockholm. There was a way to contact them. Only way is to kill it by changing my Credit Card, scary!

            .report__images 
                a.report__images-item(href="")
                    img(src="../assets/content/vermeer.jpg" alt="" class="report__images-img")

                a.report__images-item(href="")
                    img(src="../assets/content/vermeer.jpg" alt="" class="report__images-img")

                a.report__images-item(href="")
                    img(src="../assets/content/vermeer.jpg" alt="" class="report__images-img")

        .report__footer
            button.report__btn.report__btn--useful(type="button")
                svg.report__btn-icon
                    use(href="../assets/img/sprite.svg#useful")
                span.report__btn-label Useful

            button.report__btn.report__btn--reply(type="button")
                svg.report__btn-icon
                    use(href="../assets/img/sprite.svg#reply")
                span.report__btn-label Reply

            button.report__btn.report__btn--share(type="button")
                svg.report__btn-icon
                    use(href="../assets/img/sprite.svg#share")
                span.report__btn-label Share

//- report-with-business-answer
mixin report-with-business-answer 
    .report 
        .report__content 
            .report__header 
                .report__header-avatar A
                .report__header-column 
                    .report__header-title 
                        a.report__header-name(href="") Aliona Walter

                        svg.report__header-verified
                            use(href="../assets/img/sprite.svg#verified")
                    time.report__header-date 27 April 2022

            .report__table 
                .report__table-row 
                    .report__table-header Scammer’s Phone

                    .report__table-column +1 (509)-878-3069

                .report__table-row 
                    .report__table-header Scammer’s Email

                    .report__table-column mentsunpaidloans@gmail.com

                .report__table-row 
                    .report__table-header Country

                    .report__table-column United States

                .report__table-row 
                    .report__table-header Intial Means of Contact

                    .report__table-column Email

                .report__table-row 
                    .report__table-header Type of Scam

                    .report__table-column
                        .report__table-badge Debt Collections

            .report__title
                a.report__title-link(href="") No "ad-free 30 minutes" for watching "short video"

            .report__text I was sign up as member and requested for termination. I receive email as confirmation but my account monthly charges continued. Found its from Stockholm. There was a way to contact them. Only way is to kill it by changing my Credit Card, scary!

        .report__footer
            button.report__btn.report__btn--useful(type="button")
                svg.report__btn-icon
                    use(href="../assets/img/sprite.svg#useful")
                span.report__btn-label Useful

            button.report__btn.report__btn--reply(type="button")
                svg.report__btn-icon
                    use(href="../assets/img/sprite.svg#reply")
                span.report__btn-label Reply

            button.report__btn.report__btn--share(type="button")
                svg.report__btn-icon
                    use(href="../assets/img/sprite.svg#share")
                span.report__btn-label Share

        .report__business 
            .report__business-header
                .report__business-avatar
                    img(src="../assets/content/spotify.jpg" alt="" class="report__business-img")

                .report__business-column 
                    .report__business-title
                        a.report__business-name(href="") Spotify
                        svg.report__business-verified 
                            use(href="../assets/img/sprite.svg#verified")

                    .report__business-badge business answer

            .report__business-content I was sign up as member and requested for termination. I receive email as confirmation but my account monthly charges continued. Found its from Stockholm. There was a way to contact them. Only way is to kill it by changing my Credit Card, scary!

            .report__business-footer
                a.report__business-reply(href="") Reply

                .report__business-sep 

                time.report__business-date 6 Hours

            .report__business-box 
                svg.report__business-dots 
                    use(href="../assets/img/sprite.svg#dots")

//- report-useful
mixin report-useful 
    .report 
        .report__useful 
            svg.report__useful-icon
                use(href="../assets/img/sprite.svg#useful")
            .report__useful-label Useful Review

        .report__content 
            .report__header 
                .report__header-avatar A
                .report__header-column 
                    .report__header-title 
                        a.report__header-name(href="") Aliona Walter

                        svg.report__header-verified
                            use(href="../assets/img/sprite.svg#verified")
                    time.report__header-date 27 April 2022

            .report__table 
                .report__table-row 
                    .report__table-header Scammer’s Phone

                    .report__table-column +1 (509)-878-3069

                .report__table-row 
                    .report__table-header Scammer’s Email

                    .report__table-column mentsunpaidloans@gmail.com

                .report__table-row 
                    .report__table-header Country

                    .report__table-column United States

                .report__table-row 
                    .report__table-header Intial Means of Contact

                    .report__table-column Email

                .report__table-row 
                    .report__table-header Type of Scam

                    .report__table-column
                        .report__table-badge Debt Collections

            .report__title
                a.report__title-link(href="") No "ad-free 30 minutes" for watching "short video"

            .report__text I was sign up as member and requested for termination. I receive email as confirmation but my account monthly charges continued. Found its from Stockholm. There was a way to contact them. Only way is to kill it by changing my Credit Card, scary!

        .report__footer
            button.report__btn.report__btn--useful(type="button")
                svg.report__btn-icon
                    use(href="../assets/img/sprite.svg#useful")
                span.report__btn-label Useful

            button.report__btn.report__btn--reply(type="button")
                svg.report__btn-icon
                    use(href="../assets/img/sprite.svg#reply")
                span.report__btn-label Reply

            button.report__btn.report__btn--share(type="button")
                svg.report__btn-icon
                    use(href="../assets/img/sprite.svg#share")
                span.report__btn-label Share

//- report-with-comments
mixin report-with-comments
    .report 
        .report__content 
            .report__header 
                .report__header-avatar A
                .report__header-column 
                    .report__header-title 
                        a.report__header-name(href="") Aliona Walter

                        svg.report__header-verified
                            use(href="../assets/img/sprite.svg#verified")
                    time.report__header-date 27 April 2022

            .report__table 
                .report__table-row 
                    .report__table-header Scammer’s Phone

                    .report__table-column +1 (509)-878-3069

                .report__table-row 
                    .report__table-header Scammer’s Email

                    .report__table-column mentsunpaidloans@gmail.com

                .report__table-row 
                    .report__table-header Country

                    .report__table-column United States

                .report__table-row 
                    .report__table-header Intial Means of Contact

                    .report__table-column Email

                .report__table-row 
                    .report__table-header Type of Scam

                    .report__table-column
                        .report__table-badge Debt Collections

            .report__title
                a.report__title-link(href="") No "ad-free 30 minutes" for watching "short video"

            .report__text I was sign up as member and requested for termination. I receive email as confirmation but my account monthly charges continued. Found its from Stockholm. There was a way to contact them. Only way is to kill it by changing my Credit Card, scary!

        .report__footer
            button.report__btn.report__btn--useful(type="button")
                svg.report__btn-icon
                    use(href="../assets/img/sprite.svg#useful")
                span.report__btn-label Useful

            button.report__btn.report__btn--reply.report__btn--active(type="button")
                svg.report__btn-icon
                    use(href="../assets/img/sprite.svg#reply")
                span.report__btn-label Reply

            button.report__btn.report__btn--share(type="button")
                svg.report__btn-icon
                    use(href="../assets/img/sprite.svg#share")
                span.report__btn-label Share
        
        form.report__form
            .report__form-header
                .report__form-title Replies

                .report__form-quan 3
            .report__form-box
                textarea.report__form-textarea(placeholder="Your Reply Here...")

                .report__form-row
                    .upload__item
                        .upload__item-column
                            .upload__item-photo 
                                img(src="../assets/content/vermeer.jpg" alt="" class="upload__item-img")

                                .upload__item-loader
                                    .upload__item-loader-circle
                                        .upload__item-loader-circle-inner

                            .upload__item-box
                                .upload__item-name windows-JW-T2BH5k5E-unsplash.jpg

                                .upload__item-status Upload...

                        button.upload__item-btn 
                            svg.upload__item-btn-icon
                                use(href="../assets/img/sprite.svg#delete")
                            span.upload__item-btn-label Remove

                    .upload__item
                        .upload__item-column
                            .upload__item-photo 
                                img(src="../assets/content/vermeer.jpg" alt="" class="upload__item-img")

                            .upload__item-box
                                .upload__item-name windows-JW-T2BH5k5E-unsplash.jpg

                                .upload__item-status.upload__item-status--success Success

                        button.upload__item-btn 
                            svg.upload__item-btn-icon
                                use(href="../assets/img/sprite.svg#delete")
                            span.upload__item-btn-label Remove

                    .upload__item
                        .upload__item-column
                            .upload__item-photo 
                                img(src="../assets/content/vermeer.jpg" alt="" class="upload__item-img")

                            .upload__item-box
                                .upload__item-name windows-JW-T2BH5k5E-unsplash.jpg

                                .upload__item-status.upload__item-status--failed Failed

                        button.upload__item-btn 
                            svg.upload__item-btn-icon
                                use(href="../assets/img/sprite.svg#delete")
                            span.upload__item-btn-label Remove

                    .report__form-footer
                        button.report__form-btn-upload(type="button")
                            svg.report__form-btn-upload-icon
                                use(href="../assets/img/sprite.svg#upload")

                        button.btn.btn--primary.report__form-btn-send(type="button") Send
            
            .comment
                .comment__header 
                    .comment__user 
                        .comment__avatar
                            svg.comment__avatar-icon
                                use(href="../assets/img/sprite.svg#user")
                        .comment__name Alex Alex Alex

                    button.comment__btn(type="button")
                        svg.comment__btn-icon
                            use(href="../assets/img/sprite.svg#dots")
                .comment__content 
                    .comment__text I was sign up as member and requested for termination. I receive email as confirmation but my account monthly charges continued. Found its from Stockholm. There was a way to contact them. Only way is to kill it by changing my Credit Card, scary!

                .comment__row
                    a.comment__row-link(href="") Reply

                    span.comment__row-sep 

                    time.comment__row-date 11 Hours

                .comment__reply
                    .comment
                        .comment__header 
                            .comment__user 
                                .comment__avatar
                                    img.comment__avatar-img(alt="" src="../assets/content/avatar.jpg")
                                .comment__name Alex Alex Alex

                            button.comment__btn(type="button")
                                svg.comment__btn-icon
                                    use(href="../assets/img/sprite.svg#dots")
                        .comment__content 
                            .comment__text I was sign up as member and requested for termination. I receive email as confirmation but my account monthly charges continued. Found its from Stockholm. There was a way to contact them. Only way is to kill it by changing my Credit Card, scary!

                        .comment__row
                            a.comment__row-link(href="") Reply

                            span.comment__row-sep 

                            time.comment__row-date 11 Hours

                        .comment-reply

            .comment
                .comment__header 
                    .comment__user 
                        .comment__avatar
                            svg.comment__avatar-icon
                                use(href="../assets/img/sprite.svg#user")
                        .comment__name Alex Alex Alex

                    button.comment__btn(type="button")
                        svg.comment__btn-icon
                            use(href="../assets/img/sprite.svg#dots")
                .comment__content 
                    .comment__text I was sign up as member and requested for termination. I receive email as confirmation but my account monthly charges continued. Found its from Stockholm. There was a way to contact them. Only way is to kill it by changing my Credit Card, scary!

                .comment__row
                    a.comment__row-link(href="") Reply

                    span.comment__row-sep 

                    time.comment__row-date 11 Hours

                .comment__reply 
                    .comment
                        .comment__header 
                            .comment__user 
                                .comment__avatar
                                    svg.comment__avatar-icon
                                        use(href="../assets/img/sprite.svg#user")
                                .comment__name Alex Alex Alex

                            button.comment__btn(type="button")
                                svg.comment__btn-icon
                                    use(href="../assets/img/sprite.svg#dots")
                        .comment__content 
                            .comment__text I was sign up as member and requested for termination. I receive email as confirmation but my account monthly charges continued. Found its from Stockholm. There was a way to contact them. Only way is to kill it by changing my Credit Card, scary!

                        .comment__row
                            a.comment__row-link(href="") Reply

                            span.comment__row-sep 

                            time.comment__row-date 11 Hours

                        .comment__reply
                            .comment
                                .comment__header 
                                    .comment__user 
                                        .comment__avatar
                                            img.comment__avatar-img(alt="" src="../assets/content/avatar.jpg")
                                        .comment__name Alex Alex Alex

                                    button.comment__btn(type="button")
                                        svg.comment__btn-icon
                                            use(href="../assets/img/sprite.svg#dots")
                                .comment__content 
                                    .comment__text I was sign up as member and requested for termination. I receive email as confirmation but my account monthly charges continued. Found its from Stockholm. There was a way to contact them. Only way is to kill it by changing my Credit Card, scary!

                                .comment__row
                                    a.comment__row-link(href="") Reply

                                    span.comment__row-sep 

                                    time.comment__row-date 11 Hours

            .comment
                .comment__header 
                    .comment__user 
                        .comment__avatar
                            svg.comment__avatar-icon
                                use(href="../assets/img/sprite.svg#user")
                        .comment__name Alex Alex Alex

                    button.comment__btn(type="button")
                        svg.comment__btn-icon
                            use(href="../assets/img/sprite.svg#dots")
                .comment__content 
                    .comment__text I was sign up as member and requested for termination. I receive email as confirmation but my account monthly charges continued. Found its from Stockholm. There was a way to contact them. Only way is to kill it by changing my Credit Card, scary!

                .comment__row
                    a.comment__row-link(href="") Reply

                    span.comment__row-sep 

                    time.comment__row-date 11 Hours

//- end reports <--

//- pagination
mixin pagination
    nav.pagination(aria-label="Page navigation")
        ul.pagination__list 
            li.pagination__item 
                a.pagination__arrow.pagination__arrow_disabled(href="")
                    svg.pagination__icon
                        use(href="../assets/img/sprite.svg#chevron-left")
            li.pagination__item 
                a.pagination__link.pagination__link_active(href="") 1
            li.pagination__item 
                a.pagination__link(href="") 2
            li.pagination__item 
                a.pagination__link(href="") 3
            li.pagination__item 
                a.pagination__link(href="") 4
            li.pagination__item
                span.pagination__dots ...
            li.pagination__item 
                a.pagination__link(href="") 6
            li.pagination__item 
                a.pagination__arrow(href="")
                    svg.pagination__icon
                        use(href="../assets/img/sprite.svg#chevron-right")

